<?xml version='1.0'?>
<launch>

    <!-- Launch usb_camera node to connect overhead camera with ROS -->
    <include file="$(find usb_cam)/launch/usb_cam.launch" />

    <!-- Enable the Esp Server Client Communication for all the Bots -->
    <include file="$(find swarmrobot)/launch/esp.launch" />

    <!-- Run Main Server file to complete the task >
    <node name= "server" pkg= "swarmrobot" type="server.py" output="screen"/-->

</launch>